@keyframes anim1 {
  0% {
    opacity: 0;
    transform: translateX(-10rem) ;
  }
  100% {
    opacity: 1;
    transform:  scale(1) ;
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
    transform: translateX(10rem) ;
  }
  100% {
    opacity: 1;
    transform: scale(1) ;
  }
}
.books.animation {
  animation: anim1 1.2s ease-out;
}
.audio-wrapper.animation {
  animation: anim2 1.2s ease-out;
}



@keyframes left {
    0% {
        opacity:0;
        transform: translateX(-5rem);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
}
@keyframes right{
    0%{
        opacity:0;
        transform: translateX(5rem);

    }
    100%{
        opacity:1;
        transform:scale(1) ;
    }
}
@keyframes down {
   0%{
       opacity:0;
       transform: translateY(-2rem);
   }
   100%{
       opacity: 1;
       transform:  scale(1);
   }
}



.bookpage-image-container.features-animation{
    animation: down 1.5s ease-out;
}
/*.features-header.features-animation{
    animation:down 1s ease-out;
}*/

@keyframes opacity{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


.download-apps-header.download-animation{
    animation: down 1.2s ease-out;
}
.download-apps.download-animation{
    animation: right 1.5s ease-out;
}
.download-image.download-animation{
    animation:opacity 1.6s ease-in;
}




.subscribe-header.subscribe-animation{
    animation:down 1.5s ease-in;
}
.subscribe.subscribe-animation{
   animation:down 1.5s ease-out;
}





.right-feature.feature-animation:nth-child(1){
    animation: right 1.3s ease-out;
}
.right-feature.feature-animation:nth-child(2){
    animation: right 1.8s ease-out;
}
.right-feature.feature-animation:nth-child(3){
    animation: right 2.2s ease-out;
}


.left-feature.feature-animation:nth-child(1){
    animation: left 1.3s ease-out;
}
.left-feature.feature-animation:nth-child(2){
    animation: left 1.8s ease-out;
}
.left-feature.feature-animation:nth-child(3){
    animation: left 2.2s ease-out;
}
 @keyframes right-down{
 0%{
     transform: translateX(10rem) translateY(-5rem);
     opacity: 0;
 }
 100%{
     transform:translateX(0) translateY(0);
 }
 }

.image.image-animation{
    animation: right-down 2s ease-out;
}


.header.text-animation{
    animation: down 1.7s ease;
}

.footer-wrapper.footer-animation{
    animation: left 2s ease;
}
