@import "./colors.css";
.audio-wrapper {
    width: 85%;
    height: 30vh;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    border-radius: 35px;
    background: var(--white);
}

.wrapper i {
    cursor: pointer;
}

.progress-area .song-timer,
.controls,
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-details {
    text-align: center;
    margin: 15px 0;
}

.song-details p {
    color: var(--lightblack);
}

.song-details .name {
    font-size: 13px;
}

.song-details .artist {
    font-size: 7.62px;
    opacity: 0.9;
    line-height: 35px;
}

.progress-area {
    height: 4px;
    width: 100%;
    border-radius: 50px;
    background: var(--progress-background-color);
    cursor: pointer;
}

.progress-area .progress-bar {
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: var(--progress-bar-color);
}

.progress-bar::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
    pointer-events: auto;
}

.progress-area .song-timer {
    margin-top: 2px;
}

.song-timer span {
    font-size: 13px;
    color: var(--lightblack);
}

.controls {
    margin: 30px auto 5px auto;
    width:250px;
}

.controls i {
    font-size: 30px;
    user-select: none;
    background: var(--dark-primary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4) {
    font-size: 43px;
}

.controls .play-pause {
    height: 48px;
    width: 48px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(var(--white) 0%, var(--white) 100%);
}
.name{
    font-weight: bold;
}


.play-pause::before {
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: var(--dark-primary-color);
}

.play-pause i {
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}
.forward{
    width:25px;
}