:root {
  --primary-color: #85bad8;
  --white: #fff;
  --secondary-color: #f4c268;
  --light-secondary-color: #db8f00;
  --dark-primary-color: #5586ae;
  --light-primary-color: #d4e6f5;
  --lightblack: #515c6f;
  --darkwhite: #cecaca;
  --dark-secondary-color: #ffac11;
  --valid-color:#28921f;
  --light-valid-color:#5cd053;
  --invalid-color:#b03535;
  --light-invalid-color:#d45252;
  --disabled-color:lightgrey;
  --progress-bar-color:#f26419;
  --progress-background-color:#f0f0f0;
}
