@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");
@import "./colors.css";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  max-width: 1360px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
p {
  margin: 0;
  padding: 0;
}

.page-container {
  margin: 0 auto;
  max-width: 1280px;
}

/*introduction section style */

.introduction {
  background-color: var(--primary-color);
  width: 100%;
  height: 400px;
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0 94%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu {
  margin-right: 15px;
}

.navbar-links {
  display: none;
}

.hamburger-menu div {
  content: " ";
  width: 25px;
  margin-bottom: 3px;
  height: 2.5px;
  background-color: var(--white);
  border-radius: 15%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}

.header {
  display: flex;
  flex-direction: column;
}

.logo-text,
.second-header,
.introduction-text {
  margin: 14px;
  color: var(--white);
}

.app-header {
  font-size: 12px;
}

.introduction-text {
  font-size: 14px;
  line-height: 20.15px;
  color: var(--light-primary-color);
  text-align: center;
}

.introduction-text span {
  font-weight: bold;
  color: var(--white);
}

.introduction-image {
  position: relative;
  width: 67vw;
  margin-bottom: 10px;
}

.introduction-image img {
  position: absolute;
  top: -238px;
  width: 100%;
  left: 25%;
}

.get-started {
  margin-left: 7.5%;
}

/*--*/

/*sidebar style*/

.sidebar-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #faf9f9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-color);
}

.sidebar-menu .closebtn {
  position: absolute;
  top: -5px;
  right: 20px;
  font-size: 45px;
  margin-left: 60px;
  color: var(--white);
  text-decoration: none;
}

.sidebar-links {
  margin-top: 50px;
  height: 50vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar-links li a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
}

.sidebar-links li a:hover {
  color: var(--secondary-color);
}

.sidebar-links li a:focus {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

/*--*/

/*subscribe section style*/

.subscribe-section {
  text-align: center;
}

.section-header {
  margin: 17px auto;
  font-size: 18px;
}

.subscribe-header {
  width: 40vw;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 85%;
  margin-top: 20px;
  padding: 12px 0;
  border: none;
  color: var(--white);
  background-color: var(--secondary-color);
  font-family: inherit;
  font-size: 20px;
  border-radius: 6px;
}

.btn:hover {
  background-color: var(--dark-secondary-color);
  color: var(--white);
  cursor: pointer;
}

.btn:focus {
  padding: 10px 0;
  border: 2px solid var(--light-secondary-color);
  background-color: var(--dark-secondary-color);
}

.email-input {
  width: 85%;
  padding: 17px 10px;
  border: none;
  border-radius: 6.4px;
  box-shadow: rgba(102, 131, 188, 0.25) 0px 40px 30px,
    rgba(102, 131, 188, 0.25) 0px -12px 30px;
}
.email-input:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}
.valid {
  box-shadow: 0 0 5px var(--light-valid-color);
  border-color: var(--valid-color);
}
.invalid {
  box-shadow: 0 0 5px var(--light-invalid-color);
  border-color: var(--invalid-color);
}
.disabled {
  cursor: not-allowed;
  background-color: var(--disabled-color);
}
.disabled:hover {
  cursor: not-allowed;
  background-color: var(--disabled-color);
}

/*--*/

/*features-section style */

.features-section {
  text-align: center;
  margin-top: 30px;
}

.features-header {
  font-size: 18px;
}

.bookpage-image {
  width: 77px;
  height: 168.51px;
}

.bookpage-image-container {
  width: 84.05px;
  height: 174.73px;
  background: #f3f5f7;
  box-shadow: 7.89909px 7.89909px 25.2771px rgba(62, 68, 128, 0.25);
  border-radius: 9.47891px;
}

.left-features,
.right-features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 174.73px;
}

.features-container {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
}

.left-feature {
  flex-direction: row;
  margin-right: 20px;
}

.right-feature {
  flex-direction: row-reverse;
  margin-left: 20px;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  width: 27vw;
  height: 4.5vh;
  border-radius: 20px;
  text-align: center;
}

.features-icon {
  background-color: var(--secondary-color);
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.features-text {
  color: var(--white);
  font-size: 7px;
  margin: 0 10px;
  width: 60%;
}

/*--*/

/*audiobook-section style*/

.audiobook-section {
  text-align: center;
}

.audiobook-header {
  margin-top: 50px;
  margin-bottom: 30px;
}

.books-container {
  background-image: url("../images/overlay.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.books-container img {
  margin-top: 20px;
}

.audio-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/overlayed-image.png");
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*--*/

/*audio style*/

/*--*/

/*download section style*/

.download-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.download-image {
  width: 60%;
  height: 100%;
}

.download-image img {
  width: 100%;
  height: 100%;
}

.download-apps-header {
  font-size: 12.5px;
}

.download-apps-container {
  margin-left: 10px;
  width: 50%;
}

.download-apps {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.app-store {
  margin-right: 8px;
}

.app-store img,
.google-play img {
  height: 100%;
}

.app-store:hover,
.google-play:hover {
  cursor: pointer;
}

/*--*/

/* footer section style*/

.footer-wrapper {
  background-color: var(--dark-primary-color);
}

.page-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.page-links li {
  list-style: none;
  font-family: inherit;
  font-size: 10px;
}

.page-links li a {
  text-decoration: none;
  color: var(--white);
}

.page-links li a:hover {
  color: var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
}

.page-links li a:focus {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.social-media-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-icons img {
  margin-right: 10px;
}
