@import "./colors.css";
@media only screen and (min-width: 420px) and (max-width: 560px) {
    .introduction-image {
        width: 280px;
    }
    .introduction-image img {
        left: 40%;
        top: -260px;
    }
    .features-text p {
        font-size: 9px;
    }
    .download-apps-container {
        margin-left: 15px;
    }
    .download-section {
        height: 35vh;
    }
    .app-store {
        margin-right: 25px;
    }
    .app-store,
    .google-play {
        height: 20px;
    }
}

@media only screen and (min-width: 560px) {
    .introduction-image {
        width: 280px;
    }
    .introduction-image img {
        left: 53%;
        top: -280px;
    }
    .bookpage-image {
        width: 104px;
        height: 200px;
    }
    .bookpage-image-container {
        width: 110px;
        height: 206px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left-features,
    .right-features {
        height: 206px;
    }
    .feature {
        width: 23vw;
        height: 6.5vh;
    }
    .features-text p {
        font-size: 11px;
    }
    .download-section {
        height: 46vh;
    }
    .download-apps-container {
        margin-left: 30px;
    }
    .download-apps-header {
        font-size: 16px;
    }
    .app-store {
        margin-right: 25px;
        height: 30px;
    }
    .google-play {
        height: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .page-wrapper {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .introduction-image img {
        left: 60vw;
        right: 20px;
        top: -310px;
    }
    .introduction {
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 94%);
    }
    .get-started {
        position: absolute;
        margin: 0;
        width: 27vw;
        left: 60px;
        top: 250px;
    }
    .introduction {
        align-items: flex-start;
    }
    .logo-text {
        margin-left: 60px;
    }
    .hamburger-menu {
        margin-right: 50px;
    }
    .header {
        align-items: flex-start;
        width: 360px;
        justify-content: flex-start;
        margin: 60px;
    }
    .second-header,
    .introduction-text {
        margin: 15px 0;
        text-align: start;
    }
    .subscribe-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subscribe {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 65vw;
        flex-grow: 4;
        margin: 20px 0;
    }
    .subscribe-btn {
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 13px 6px;
        width: 15vw;
    }
    .email-input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .audiobook-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .audio-container {
        width: 50vw;
    }
    .books-container {
        width: 50vw;
        height: 50vh;
    }
    .audio-wrapper {
        width: 75%;
        height: 31vh;
    }
    .social-media-icons {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar-links {
        display: flex;
    }
    .navbar-links ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    .listed-element {
        margin-right: 40px;
        font-size: 14px;
    }
    .listed-element a {
        text-decoration: none;
        color: var(--white);
    }
    .listed-element a:hover {
        font-weight: bold;
        cursor: pointer;
        color: var(--secondary-color);
    }
    .listed-element a:focus {
        color: var(--secondary-color);
        border-bottom: 1px solid var(--dark-secondary-color);
    }
    .hamburger-menu {
        display: none;
    }
    .introduction-image img {
        left: 68vw;
        right: 20px;
        top: -310px;
    }
    .subscribe {
        width: 55vw;
    }
    .introduction {
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 98%);
    }
    .download-section {
        height: 60vh;
    }
    .email {
        width: 60%;
    }
    .bookpage-image {
        width: 114px;
        height: 223px;
    }
    .bookpage-image-container {
        width: 120px;
        height: 226px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left-features,
    .right-features {
        height: 256px;
    }
    .left-feature {
        margin-right: 50px;
    }
    .right-feature {
        margin-left: 50px;
    }
    .feature {
        width: 17vw;
        height: 8vh;
        border-radius: 150px;
    }
    .features-header {
        margin-top: 100px;
    }
    .download-apps-container {
        margin-left: 80px;
    }
    .download-apps {
        margin-top: 40px;
    }
    .app-store,
    .google-play {
        height: 45px;
    }
    .download-apps-header {
        font-size: 26px;
        width: 24vw;
    }
    .footer-wrapper {
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .page-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        margin-left: 25px;
    }
    .page-links li {
        margin-left: 25px;
        font-size: 13px;
    }
    .social-media-icons {
        margin-top: 0;
        margin-right: 35px;
    }
}

@media only screen and (min-width: 1280px) {
    .subscribe {
        width: 35vw;
    }
    .email-input {
        width: 75%;
    }
    .subscribe-btn {
        width: 25%;
    }
    .audio-wrapper {
       
        height: 30vh;
    }
}

@media only screen and (min-width: 1380px) {
    .get-started {
        margin: 0;
        width: 300px;
        left: 12.5vw;
        top: 260px;
        z-index: 9999999;
    }
    .introduction-image {
        width: 340px;
    }
    .introduction-image img {
        left: 260%;
        right: 20%;
        top: -320px;
    }
}